@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Stack Sans Text", sans-serif;
    
}

body {
    background: linear-gradient(left top red, to right bottom yellow);
}

/* body {
    background-color: red;
} */

nav > ul > li {
    list-style: none;
    display: inline-block;
    padding: 20px 40px 20px 0px;
}

nav > ul > li > a {
    padding: 15px;
    border-radius: 10px;
    transition: background-color .3s ease-in;
}

nav > ul > li > a:hover {
    background-color: black;
    color: white;
}

.dentro > li {
    padding-left: 30px;
    list-style: none;
}

hr {
    margin: auto;
    width: 90%;
}


a {
    text-decoration: none;
    color: white;
}

header {
    background-color: red;
    text-align: right;
    padding: 0 0% 10% 10%;
    margin-bottom: 20px;

}

header > h1, .front, address {
    text-align: right;
}


h1 {
    padding: 10% 10% 0 0;
    font-size: 70px;
}

.front {
    font-size: 40px;
}

header img {
    float: right;
    width: 500px;
    padding: 5% 15% 5% 20px;
    border-radius: 8px;

}

main {
    margin: auto;
    padding: 50px;
    width: 1000px;
    border: 2px solid black;
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    font-size: 20px
}

.space {
    text-transform: uppercase;
    padding-top: 10px;
}